---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <div class="post-list">
    {% for post in site.posts %}
      <article class="post hentry">
        <div class="post-header">
          <span class="post-meta"><time class="published" datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time></span>
          <h2>
            <a class="post-link entry-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
            {% if page.excerpt %}
            <p>
              {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
            </p>
            {% endif %}
        </div>
        {% if post.image %}
          <div class="post-image">
            <img alt="{{ post.title }}" src="{{ post.image }}" />
          </div>
        {% endif %}
      </article>
    {% endfor %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
