<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <meta name="author" content="Aram Zucker-Scharff" />

  <meta property="og:title" content="{% if page.title %}{{ page.title | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:site" content="@chronotope" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

  {% if page.title %}
  	<!-- Article specific OG data -->
  	<meta property="og:type" content="article" />
  	<meta property="article:published_time" content="{{page.date}}" />
  	{% if page.modified %}
  		<meta property="article:modified_time" content="{{page.modified}}" />
  	{% endif %}
  	<meta property="article:author" content="http://facebook.com/aramzs" />
    <meta property="article:publisher" content="https://www.facebook.com/aramzs" />
  	<meta property="article:section" content="{{page.vertical}}" />
  	{% for tag in page.categories %}
  		<meta property="article:tag" content="{{tag}}" />
  	{% endfor %}

  	<meta name="twitter:card" content="summary_large_image" />
  	<meta name="twitter:creator" content="@chronotope" />
  	<meta name="twitter:title" content="{{page.title}}" />
	{% if page.ogimagenull %}
		<!-- no og image -->
	{% elsif page.ogimage %}
		<meta property="og:image" content="{{page.ogimage}}" />
	  	<meta name="twitter:image" content="{{page.ogimage}}" />
	  	<meta property="og:image:width" content="600" />
	  	<meta property="og:image:height" content="315" />
	{% elsif page.image %}
	  	<meta property="og:image" content="{{page.image}}" />
	  	<meta name="twitter:image" content="{{page.image}}" />
  	{% else %}
  		<meta property="og:image" content="https://41.media.tumblr.com/709bb3c371b9924add351bfe3386e946/tumblr_nxdq8uFdx81qzocgko1_1280.jpg" />
  		<meta name="twitter:image" content="https://41.media.tumblr.com/709bb3c371b9924add351bfe3386e946/tumblr_nxdq8uFdx81qzocgko1_1280.jpg" />
  	{% endif %}

	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "BlogPosting",
			"mainEntityOfPage": {
				"@type": "WebPage",
				"@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
			},
			"headline": "{{ page.title }}",
			"description": "{{ page.excerpt }}",
			"image": [
				{% if page.ogimagenull %}

				{% elsif page.ogimage %}
					"{{page.ogimage}}"
				{% elsif page.image %}
					"{{page.image}}"
				{% else %}
					"https://41.media.tumblr.com/709bb3c371b9924add351bfe3386e946/tumblr_nxdq8uFdx81qzocgko1_1280.jpg"
				{% endif %}
			],
			"datePublished": "{{page.date}}",
			"dateModified": "{% if page.modified %}{{page.modified}}{% else %}{{page.date}}{% endif %}",
			"isAccessibleForFree": "True",
			"isPartOf": {
				"@type": ["CreativeWork", "Product"],
				"name": "Fight With Tools",
				"productID": "aramzs.github.io"
			},
			"author": {
				"@type": "Person",
				"name": "Aram Zucker-Scharff",
				"description": "Aram Zucker-Scharff is the Director for Ad Engineering in The Washington Post’s Research, Experimentation and Development group. He is also the lead developer for the open-source tool PressForward and a consultant on content strategy and newsroom workflows. He was one of Folio Magazine’s 15 under 30 in the magazine media industry. He previously worked as Salon.com’s full stack developer. His work has been covered multiple times in journalism.co.uk and he has appeared in The Atlantic, Digiday, Poynter, and Columbia Journalism Review. He has also worked as a journalist, a community manager and a journalism educator.",
				"sameAs": "http://twitter.com/Chronotope",
				"image": {
					"@type": "ImageObject",
					"url": "https://pbs.twimg.com/profile_images/539484037765533698/7l6-pKY-_400x400.jpeg"
				},
				"givenName": "Aram",
				"familyName": "Zucker-Scharff",
				"alternateName": "AramZS",
				"publishingPrinciples": "http://aramzs.github.io/about/"
			},
			"publisher": {
				"@type": "Organization",
				"name": "Fight With Tools",
				"description": "A site discussing how to imagine, build, analyze and use cool code and web tools. Better websites, better stories, better developers. Technology won't save the world, but you can.",
				"sameAs": "http://aramzs.github.io",
				"logo": {
					"@type": "ImageObject",
					"url": "https://41.media.tumblr.com/709bb3c371b9924add351bfe3386e946/tumblr_nxdq8uFdx81qzocgko1_1280.jpg"
				},
				"publishingPrinciples": "http://aramzs.github.io/about/"
			}
		}
	</script>

  {% else %}
  	<!-- OG data for homepage -->
  	<meta property="og:image" content="https://41.media.tumblr.com/709bb3c371b9924add351bfe3386e946/tumblr_nxdq8uFdx81qzocgko1_1280.jpg" />
  	<meta property="og:type" content="website" />
  	<meta name="twitter:card" content="summary" />
  	<meta name="twitter:title" content="{{site.title}}" />
  	<meta name="twitter:image" content="https://41.media.tumblr.com/709bb3c371b9924add351bfe3386e946/tumblr_nxdq8uFdx81qzocgko1_1280.jpg" />

  {% endif %}

  	<link rel="icon" type="image/png" href="https://raw.githubusercontent.com/AramZS/aramzs.github.io/master/_includes/favicon.ico">
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-87149202-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
