/**
 * Layout Mixins
 */
@mixin image-overlay {
    overflow: hidden;
    &::before {
        content: " ";
        //margin-left: -50%;
        width: 150%;
        overflow: hidden;
        display: block;
        position: absolute;
        height: 100%;
        z-index: 2;
        @include media-query($on-laptop) {
            //margin-left: -50%;
            width: 200%;
        }
        @include media-query($on-palm) {
            margin-left: 0;
            width: 100%;
            height: 100%;
        }
    }
    & img {
        z-index: 1;
    }
}

/**
 * Site header
 */

.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px; // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    &,
    &:visited {
        color: $grey-color-dark;
    }
    @include media-query($on-palm) {
        font-size: 24px;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    z-index: 9999;
    .menu-icon {
        display: none;
    }
    .page-link {
        color: $text-color;
        line-height: $base-line-height; // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            >svg {
                width: 18px;
                height: 15px;
                path {
                    fill: $grey-color-dark;
                }
            }
        }
        .trigger {
            clear: both;
            display: none;
        }
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
        .page-link {
            display: block;
            padding: 5px 10px;
            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Site footer
 */

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width: calc(50% - (#{$spacing-unit} / 2));
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Archives pages
 */

.home {
    margin: 0 auto;
    max-width: 560px;
    article.post {
        border-bottom: 1px solid black;
        margin-bottom: 22px;
        &:after {
            @extend %clearfix;
        }
        .post-header {
            width: 100%;
            float: left;
            margin-bottom: 2px;
            &:after {
                @extend %clearfix;
            }
            h2 {
                @include media-query($on-palm) {
                    line-height: 1.3;
                }
            }
        }
        .post-preview {}
        .post-image {
            float: right;
            margin-left: 10px;
            img {
                max-height: 150px;
            }
            @include media-query($on-palm) {
                width: 38%;
            }
        }
    }
}
/**
 * Page content
 */

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    >li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 26px;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
    h4 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

body.post {
    .page-content {
        padding-top: 0;
        background-color: #1a1a1a;
    }
    .wrapper {
        background-color: white;
    }
    article {
        padding-top: $spacing-unit;
    }
}

.header-sub-box {
    display: block;
    position: relative;
}

.single.post {
    margin: 0 auto;
    max-width: 410px;
    text-align: justify;

    .post-header {
        min-height: 300px;
        @include media-query($on-palm) {
            min-height: 250px;
        }
    }
}

.single.post-with-image {
    .post-header {
        margin-bottom: $spacing-unit;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    .title-box {
        position: absolute;
        text-align: left;
        bottom: 20%;
        z-index: 3;
        width: 120%;
        left: -10%;
        @include media-query($on-palm) {
            left: 0;
            width: 100%;
        }
    }
    .post-image {
        margin-left: -25%;
        width: 150%;
        @include media-query($on-laptop) {
            margin-left: -50%;
            width: 200%;
        }
        @include media-query($on-palm) {
            margin-left: 0;
            width: 100%;
        }
    }
    .post-title {
        font-size: 42px; //line-height: 55px;
        letter-spacing: -1px;
        line-height: 1.4;
        background: transparent;
        color: black;
        background-color: white;
        box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
        display: inline;
        -webkit-box-decoration-break: clone;
        -ms-box-decoration-break: clone;
        -o-box-decoration-break: clone;
        box-decoration-break: clone;
        white-space: pre-wrap;
        display: inline;
        position: relative;
        padding: 0;
        @include media-query($on-laptop) {
            font-size: 36px;
            line-height: 49px;
        }
        @include media-query($on-palm) {
            font-size: 34px;
            line-height: 43px;
        }
    }
    .post-header-test {
        margin-left: -45%;
        margin-right: -45%;
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
        max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
        @include media-query($on-laptop) {
            max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
            max-width: calc(#{$content-width} - (#{$spacing-unit}));
        }
        @include media-query($on-palm) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .post-image img {
        width: 100%;
    }
    .highlight {
        overflow-wrap: break-word;
    }
    .post-content {}
    li {
        margin-top: 18px;
    }
}

//Oh colors, I have taken you from WordPress https://wordpress.org/about/logos/
.blue {
    @include image-overlay;
    &::before {
        background: rgba(33, 117, 155, 0.42);
    }
}

.orange {
    @include image-overlay;
    &::before {
        background: rgba(213, 78, 33, 0.42);
    }
}

.red {
    @include image-overlay;
    &::before {
        background: rgba(203, 138, 138, 0.42);
    }
}